    {% extends "base.html" %}

    <script src="https://kit.fontawesome.com/b4de34f81a.js" crossorigin="anonymous"></script>

    {% block content %} 
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">About Our Software</h1>
        </div>
        <div class="text-center">
          <p class="display-7 fw-bold p-lg-5">
            Welcome to my attention evaluation page!   <br>
            This project is an exciting collaboration of cutting-edge technologies, including Mediapipe, OpenCV, Tkinter, and several others.    <br>
            Our attention evaluation system is designed to track head and eye movements in real-time to determine levels of engagement and focus.    <br>
            With this information, we can adapt teaching styles, materials, or alert drivers if they are showing signs of distraction or drowsiness.     <br>
            This innovative system has broad applications in various fields, including education, transportation, and healthcare.     <br>
            We are proud to be at the forefront of this technology and invite you to explore our page and learn more about our attention evaluation system.    <br>
          </p>
        </div>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
            <div class="text-center">
                <img src="{{url_for('static', filename='img/summary.png')}}" class="rounded" style="width:25%; height:25%" />
            </div>
            <br>

        </div>
        
    {% endblock content %}

