    {% extends "base.html" %}

    {% block content %} 
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">My Projects <i class="fa-thin fa-file-chart-column" </h1>                 <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Below is a collection of some noteable projects which I have completed.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for item in project %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                        <img src="{{url_for('static', filename=item.image) }}" /> 
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">{{ item.description }}</p>

                                <div class="d-flex justify-content-between align-item-center">
                                    <a href="{{ item.link }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

    {% endblock content %}
